# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/deps
!/docs
!/references
!/src
!/tests
!/tests/**
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!AGENTS.md
!CHANGELOG.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!GOVERNANCE.md
!OPEN_SOURCE_PROJECT_GUIDE.md
!SECURITY.md
!skills
!scripts
!package.json
!sample.env
!web
!web/**

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
